html {
	box-sizing: border-box;
	font-family: "Roboto";
}

*,
*::before,
::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	background-color: oldlace;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10vh;
	gap: 10px;
}

#logo {
	height: 100px;
}

#title {
	font-family: "Shizuru", cursive;
	font-weight: 200;
	font-size: 48px;
	color: maroon;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
}

#container {
	display: grid;
	grid-template-columns: repeat(16, 0fr);
	box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.15);
}

#button-box {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

#clear {
	width: 180px;
	height: 60px;
	border: 1px solid maroon;
	border-radius: 200px;
	box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.15);
	font-size: 14px;
	color: maroon;
	background-color: transparent;
	font-weight: 600;
}

#new-grid {
	width: 180px;
	height: 60px;
	border: 1px solid maroon;
	border-radius: 200px;
	box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.15);
	font-size: 14px;
	color: maroon;
	background-color: transparent;
	font-weight: 600;
}

.square {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	width: 30px;
	margin: 0;
	padding: 18px;
	border: 1px solid lightgrey;
	color: gray;
}

.square:hover {
	background-color: blanchedalmond;
	transform: scale(1.05);
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10vh;
}

footer p {
	font-style: italic;
	font-weight: lighter;
	color: rgba(128, 0, 0, 0.4);
}

#change-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 600px;
	gap: 20px;
	font-size: 18px;
	color: maroon;
}

#input-bar {
	height: 60px;
	width: 600px;
	color: maroon;
	border: 1px solid maroon;
	border-radius: 200px;
	padding: 0 20px;
	font-size: 28px;
	text-align: center;
}
